@import "reset_css.scss";
$pc: "only screen and (min-width: 1200px)";
$tablet: "only screen and (min-width:479px) and (max-width:768px)";
$sp: "only screen and (max-width:479px)";
$small: "only screen and (max-width:1024px)"; //スマホとタブレット
$big: "only screen and (min-width:1025px)"; //PC
$fhd: "only screen and (min-width:1919px)"; //フルHD
html {
    box-sizing: border-box;
    // position: fixed; //safariのページ全体バウンド防止
    font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    letter-spacing: .03rem;
    
}

html,
body {
    height: 100%;
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

//Androidで出る、ボタンタップ時のオレンジ枠消去
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select,
div#editableBody {
    width: 100%;
    padding: .4rem;
    border: solid 1px #ccc;
    border-radius: .2rem;
    box-shadow: inset 0 .05rem .1rem rgba(100, 100, 100, 0.2); //普通
    background:white;
    // box-shadow: inset 1px 4px 9px -8px rgba(0,0,0,0.5);//上だけ
    &:focus {
        border: solid 1px #EEA34A;
    }
}

//ノーマル用
#page_wrap {
    width: 100%;
    text-align: left;
    word-break: break-all;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.header_height_margin {
    margin-top: 9vh;
}
.lineHeight {
    line-height: 1.9rem;
}

.btnFeature{
    @media #{$big} {
        padding: .5rem 1.3rem;
    }
    @media #{$small} {
        padding: .8rem 1.3rem;
        font-size:1.3rem;
    }

}

.submit_btn_1 {
    @extend .hover_dark;
    @extend .btnFeature;
    background-color: #0093FF;
    color: #ffffff;
    border-radius: 5rem;
    border: 0px;
    cursor: pointer;
}

.btn_1 {
    @extend .hover_dark;
    @extend .btnFeature;
    border: 0px;
    background:rgb(160, 160, 160);
    border-radius: 5rem;
    cursor: pointer;
}

.delete_btn_1 {
    @extend .hover_dark;
    @extend .btnFeature;
    background-color: #FF0000;
    border: 0px;
    color: #ffffff;
    border-radius: 5rem;
    cursor: pointer;
}

.no_scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
    ;
    -ms-overflow-style:none;
}

.image_upload_btn {
    background-color: #ffffff;
    border-radius: 5px;
}

.hover_dark {
    position: relative;
    &::before {
        border-radius: 5rem;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
    }
    &:hover::before {
        border-radius: 5rem;
        @media #{$small} {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.error_message {
    color: red;
}

.side_border_1 {
    display: flex;
    align-items: center;
    text-align: center;
    &:before,
    &:after {
        border-top: 1px solid;
        content: "";
        display: inline;
        /* for IE */
        flex-grow: 1;
    }
    &:before {
        margin-right: 0.5em;
    }
    &:after {
        margin-left: 0.5em;
    }
}

//-------------------モーダル関連
#modal {
    max-width: 80%;
    padding: 3% 5%;
    display: none;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
    background-color: #ffffff!important;
    color: #666666;
    position: fixed;
    z-index: 11;
    #error_modal_title {
        color: #FF0000;
        text-align: center;
        margin-bottom: 5%;
    }
    #modal_body {}
    #modal_button_wrap {
        margin-top: 8%;
        text-align: center;
    }
}

#modal_bg {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1)!important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

//-----スクロールバー
.scrollbar_1 {
     ::-webkit-scrollbar {
        width: 10px;
    }
     ::-webkit-scrollbar-track {
        border-radius: 10px;
    }
     ::-webkit-scrollbar-thumb {
        background-color: #c7c7c7;
        border-radius: 10px;
    }
}

//-------------------ローディングインジケータ------------------------
.loading_wrap {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    .sk-fading-circle {
        margin: 100px auto;
        width: 40px;
        height: 40px;
        position: relative;
    }
    .sk-fading-circle .sk-circle {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .sk-fading-circle .sk-circle:before {
        content: '';
        display: block;
        margin: 0 auto;
        width: 15%;
        height: 15%;
        background-color: #333;
        border-radius: 100%;
        -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
        animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    }
    .sk-fading-circle .sk-circle2 {
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    .sk-fading-circle .sk-circle3 {
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
    }
    .sk-fading-circle .sk-circle4 {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .sk-fading-circle .sk-circle5 {
        -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        transform: rotate(120deg);
    }
    .sk-fading-circle .sk-circle6 {
        -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
        transform: rotate(150deg);
    }
    .sk-fading-circle .sk-circle7 {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .sk-fading-circle .sk-circle8 {
        -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
        transform: rotate(210deg);
    }
    .sk-fading-circle .sk-circle9 {
        -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
        transform: rotate(240deg);
    }
    .sk-fading-circle .sk-circle10 {
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    .sk-fading-circle .sk-circle11 {
        -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
        transform: rotate(300deg);
    }
    .sk-fading-circle .sk-circle12 {
        -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
        transform: rotate(330deg);
    }
    .sk-fading-circle .sk-circle2:before {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }
    .sk-fading-circle .sk-circle3:before {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
    }
    .sk-fading-circle .sk-circle4:before {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }
    .sk-fading-circle .sk-circle5:before {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }
    .sk-fading-circle .sk-circle6:before {
        -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s;
    }
    .sk-fading-circle .sk-circle7:before {
        -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s;
    }
    .sk-fading-circle .sk-circle8:before {
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
    }
    .sk-fading-circle .sk-circle9:before {
        -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s;
    }
    .sk-fading-circle .sk-circle10:before {
        -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s;
    }
    .sk-fading-circle .sk-circle11:before {
        -webkit-animation-delay: -0.2s;
        animation-delay: -0.2s;
    }
    .sk-fading-circle .sk-circle12:before {
        -webkit-animation-delay: -0.1s;
        animation-delay: -0.1s;
    }
    @-webkit-keyframes sk-circleFadeDelay {
        0%,
        39%,
        100% {
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
    }
    @keyframes sk-circleFadeDelay {
        0%,
        39%,
        100% {
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
    }
}

//-------------------ローディングインジケータ------------------------